<h1>VILLANO {{ nombre }}</h1>

<dl>
  <td> NOMBRE: </td>
  <dd>{{nombre}}</dd>

  <td> EDAD: </td>
  <dd>{{edad}}</dd>

  <td> MAYUSCULA: </td>
  <dd>{{Mayuscula}}</dd>

  <td> SUPER PODER: </td>
  <dd>{{SP}}</dd>

  <td> AUMENTO DE PODER: </td>
  <dd>{{AP}}</dd>
</dl>

<button (click)="cambiarNombre()">CAMBIAR NOMBRE</button>
<button (click)="cambiarEdad()">CAMBIAR EDAD</button>
<button (click)="cambiarMayuscula()">CAMBIAR MAYUSCULAS</button>
<button (click)="cambiarSP()">CAMBIAR SUPER PODER</button>
<div>
  .
</div>
<div>
  AUMENTO DE PODER DE 10 EN 10 HASTA LLEGAR A SU 100 %
</div>
<div>
  .
</div>
<button (click)="aumentarPoder1()">AP a 10</button>
<button (click)="aumentarPoder2()">AP a 20</button>
<button (click)="aumentarPoder3()">AP a 30</button>
<button (click)="aumentarPoder4()">AP a 40</button>
<button (click)="aumentarPoder5()">AP a 50</button>
<button (click)="aumentarPoder6()">AP a 60</button>
<button (click)="aumentarPoder7()">AP a 70</button>
<button (click)="aumentarPoder8()">AP a 80</button>
<button (click)="aumentarPoder9()">AP a 90</button>
<button (click)="aumentarPoder10()">AP a 100</button>
<div>
  .
    </div>
    <div>
      .
        </div>
        <div>
          .
            </div>
